body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'EB Garamond', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Zeyada', cursive;
    margin: 0;
}
h1{
    margin: 0;
    font-family: 'Lobster', cursive;
}
h2{
    margin: 0;
    font-family: 'EB Garamond', serif;
}
h3{
    margin: 0;
    font-family: 'Abril Fatface', cursive;
}

img {
    margin: 0;
    width: 60px;
    height: 60px;
    padding: 20px 20px;
}

.topLeft-container{
    background-color: bisque;
    height:200px;
    width: 200px;
    display: inline-block;
    position: absolute;
 
}
.topMid-container{
    background-color: brown;
    height:200px;
    width: 200px;
    display: inline-block;
    position: absolute;
    
  

}
.topRight-container{
    background-color: bisque;
    height:200px;
    width: 200px;
    display: inline-block;
    position: absolute;
 
   
}

.mobile{
    background-color: blue;
    height:200px;
    width: 200px;
    position: absolute;
}


.midLeft-container{
    height:200px;
    background-color: brown;
    width: 200px;
    position: absolute;
    top: 200px;
}

.mid-container{
    height:200px;
    background-color: bisque;

    width: 200px;
    position: absolute;
    top: 200px;
    left: 200px;

}
.midRight-container{
    height:200px;
    background-color: brown;

    width: 200px;
    position: absolute;
    top: 200px;
    left: 400px;
}

.botLeft-container{
    height:200px;
    background-color: bisque;
    width: 200px;
    position: absolute;
    top: 400px;
}

.botMid-container{
    height:200px;
    background-color: brown;

    width: 200px;
    position: absolute;
    top: 400px;
    left: 200px;

}
.botRight-container{
    height:200px;
    background-color: bisque;

    width: 200px;
    position: absolute;
    top: 400px;
    left: 400px;
}

